/* Ocultar el icono de borrar por defecto */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="search"] {
  -moz-appearance: none;
}

/* Estilos para el contenedor del input */
.search-container {
  position: relative;
  display: inline-block;
}

/* Estilos para el input */
#autocomplete {
  /* padding-right: 30px; */
  /* Añadir espacio para el botón de limpiar personalizado */
}
